/* Loader wrapper */
.hide-when-loading {
  transition: opacity 0.3s;
}
.loading #content {
  opacity: 0.8;
  visibility: hidden;
}
#loader {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100; /* Ensure it's above modals */
    text-align: center;
}

/* Loader overlay (for blur and dim effect) */
#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Light dim */
    backdrop-filter: blur(2px); /* Adds blur to the background */
    z-index: 1099; /* Right below the loader, but above everything else */
    display: none; /* Hidden by default */
}

/* Spinning loader */
.loader {
    border: 25px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top: 25px solid #055081; /* Blue border on top for the spinning effect */
    border-radius: 50%;
    width: 600px;
    height: 600px;
    animation: spin 1.5s linear infinite;
}

/* Text under the loader */
.loader-text {

    margin-top: 15px;
    font-size: 1.5em;
    color: #0852b3;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Adjust the shadow size and color */
}

/* Spinning animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
