{% extends "basemain.html" %}
{% block title %} Create Braille -- {% endblock %}

{% block content %}
            <div class="container">
                <div class="page-inner">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Create Braille</div>
                            </div>
                            <div class="card-body">
                                <form action="" id="speech_to_text">
                                    
                                  
                                    
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control mb-4" name="title" placeholder="Enter Title" required />
                                        <div class="col">
                                            <label for="comment">Type Content or use the Text to Speech below: </label>
                                            <div class="speaker" style="display: flex;justify-content: space-between;width: 13rem;box-shadow: 0 0 13px #0000003d;border-radius: 5px;">
                                                <p id="action" style="color: grey;font-weight: 800; padding: 0; padding-left: 2rem;"></p>
                                                <button onclick="runSpeechRecog()" style="border: transparent;padding: 0 0.5rem;">
                                                    <i class="fa fa-microphone" aria-hidden="true"></i> Speak
                                                </button>
                                             </div>
                                        </div>
                                        
                                        
                                    </div>

                                    <textarea class="form-control" minlength="0" maxlength="250" placeholder="Type Something..." id="content"
                                            rows="5"> </textarea>
                                            <div class="row">
                                                
                                                <div class="col-8">
                                                    
                                                </div>
                                              
                                                </div>
                                            </div>
                                            
                                       
                                      <div class="card-action">
                                        <button type="submit" class="btn btn-info mr-4">Grammar Checker</button>
                                        <button type="submit" class="btn btn-primary mr-4">Submit</button>
                                        <!-- <button class="btn btn-danger mr-4">Cancel</button> -->
                                      </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                runSpeechRecog = () => {
                   var txt_content = document.getElementById("content");
                   txt_content.innerHTML = "Loading text...";
                   txt_content.readOnly = true;
                   
                   var output = document.getElementById('content');
                   var action = document.getElementById('action');
                   let recognization = new webkitSpeechRecognition();
                   recognization.onstart = () => {
                      action.innerHTML = "Listening...";
                   }
                   recognization.onresult = (e) => {
                      var transcript = e.results[0][0].transcript;
                      output.innerHTML = transcript;
                      output.classList.remove("hide")
                      action.innerHTML = "";
                      txt_content.readOnly = false;

                   }
                   recognization.start();
                }
             </script>
            {% endblock %}