{% extends "basemain.html" %}
{% block title %} Dashboard -- {% endblock %}

{% block content %}

            <div class="container">
                <div class="page-inner">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                        <div>
                            <h3 class="fw-bold mb-3">Dashboard</h3>
                            <h6 class="op-7 mb-2">Braille System</h6>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-stats card-round">
                                <div class="card-body ">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-primary bubble-shadow-small">
                                                <i class="fa fa-users"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats ms-3 ms-sm-0" >
                                            <div class="numbers">
                                                <p class="card-category">Shared to me</p>
                                                <h4 class="card-title">{{shared_to_me_count}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-success bubble-shadow-small">
                                                <i class="fa fa-file"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats ms-3 ms-sm-0">
                                            <div class="numbers">
                                                <p class="card-category">Braille Files</p>
                                                <h4 class="card-title">{{braille_infos_count}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                                <i class="fa fa-file"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats ms-3 ms-sm-0">
                                            <div class="numbers">
                                                <p class="card-category">Archives</p>
                                                <h4 class="card-title">{{archives_count}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-round">
                                <div class="card-header">
                                    <div class="card-head-row card-tools-still-right">
                                        <div class="card-title">Activity History</div>

                                    </div>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="table-responsive">
                                        <!-- class="table align-items-center mb-0" -->
                                        <table id="basic-datatables" class="display table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Activity Log</th>
                                                    <th scope="col" class="text-end">Date</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Activity Log</th>
                                                    <th scope="col" class="text-end">Date</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {%for ah in activity_history%}
                                                <tr>
                                                    <td class="text-end">
                                                        {{ah.id}}
                                                    </td>
                                                    <th scope="row">
                                                        <i class="btn btn-icon btn-round btn-info btn-sm me-2">
                                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                        </i>{{ah.activity_log}}
                                                    </th>
                                                    <td class="text-end">
                                                        {{ah.date_log}}
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            {% endblock %}