{% extends "basemain.html" %}
{% block title %} Shared to me -- {% endblock %}

{% block content %}
            <div class="container">
                <div class="page-inner">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Shared to me</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="basic-datatables" class="display table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>File ID</th>
                                                <th>Title</th>
                                                <th>Shared by</th>
                                                <th>Date shared</th>
                                                <th>Download</th>
                                
                                                
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>File ID</th>
                                                <th>Title</th>
                                                <th>Shared by</th>
                                                <th>Date shared</th>
                                                <th>Download</th>
                                                
                                                
                                            </tr>
                                        </tfoot>
                                        <tbody>

                                           {%for entry in shared_braille_entries%}
                                           {%if entry.braille_info.deleteflag == True %}
                                           {%else%}
                                            <tr>
                                                <td>{{entry.braille_info.id}}</td>
                                                <td>{{entry.braille_info.title}}</td>
                                                <td>{{entry.user.first_name}} {{entry.user.last_name}}</td>
                                                <td>{{entry.date_shared}}</td>
                                                <td>
                                                    <form method="post" id="download_braille">
                                                        {% csrf_token %}
                                                        <input type="text" name="braille_id" value="{{ entry.braille_info.id }}" style="display: none;">
                                                        <input type="text" name="filename" value="{{ entry.braille_info.filename }}" style="display: none;">
                                                        <button type="submit" name="form_type" value="download_braille" class="btn btn-round btn-sm btn-primary">
                                                            <i class="fa fa-download" aria-hidden="true"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-round btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#preview{{entry.braille_info.id }}"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <!-- Preview Modal -->
                                            <div class="modal fade " id="preview{{ entry.braille_info.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Preview Braille Content</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="text-center pb-4">
                                                                        <h3>Title: {{entry.braille_info.title}}</h3>
                                                                    </div>

                                                                    <div class="row">
                                                                        <h4>Content: </h4>
                                                                        <div class="container-md">
                                                                            <p class="text-center mt-3">
                                                                                {{ entry.braille_info.braille_draft }}
                                                                                
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-4">
                                                                        <h4>Equivalent to Braille: </h4>
                                                                        <div class="container-md">
                                                                            <p class="text-center mt-3">
                                                                                {{ entry.braille_info.braille_text|join:"   " }}
                                                                            </p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}